container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && ./manage.py migrate --noinput"
        leader_only: true

    02_translate:
        command: "source /opt/python/run/venv/bin/activate && ./manage.py compilemessages"

    03_front_end:
        command: "yum -y install nodejs npm --enablerepo=epel && gem install sass && cd front_end && npm install && node_modules/.bin/bower install --allow-root && node_modules/.bin/grunt"
        leader_only: true

    04-collectstatic:
        command: "source /opt/python/run/venv/bin/activate && ./manage.py collectstatic --noinput"
        leader_only: true

option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "vietcong.settings"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: "vietcong/wsgi.py"
