{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Sign In' %}{% endblock %}

{% block content %}

{% get_current_language as LANG_CODE %}
<div class="help">
    {% if LANG_CODE == 'cs' %}
        <p>Jste zde poprvé? <a href="{# TODO #}">Registrujte se.</a>
        <p>Zapomněli jste heslo?
            <a href="{% url 'password_reset' %}">Resetujte jej.</a>
    {% else %}
        <p>Are you here for the first time?
            <a href="{# TODO #}">Register yourself.</a>
        <p>Have you forgotten your password?
            <a href="{% url 'password_reset' %}">Reset it.</a>
    {% endif %}
</div>

<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="{% trans 'Sign in' %}">
</form>

{% endblock %}
