$palette0: white;
$palette1: black;
$palette1a: gray;
$palette1b: LightGray;
$paletteA1: gold;
$paletteB1: purple;
$paletteB2: PaleVioletRed;
$paletteB3: crimson;
$paletteC1: brown;
$paletteC2: FireBrick;
$paletteC3: maroon;
$paletteC4: red;
$paletteD1: SkyBlue;
$paletteD2: AliceBlue;
$paletteD3: DarkCyan;
$paletteE1: DarkGreen;
$paletteE2: SeaGreen;

$bg: $palette0;
$bg2: $paletteA1;
$bg3: $paletteD3;
$bgOdd: $bg2;

$textColor: $palette1;
$extraColor: $paletteB1;
$linkColor: $paletteB3;
$trHoverColor: $paletteB2;
$borderColor: $paletteD1;
$disabledColor: $palette1b;

$h1Color: $paletteC1;
$h2Color: $paletteB3;
$h3Color: $paletteC2;

$infoColor: $paletteC1;
$okColor: $paletteE1;
$errorColor: $paletteA1;
$errorColorDetail: $palette1a;

$infoBgColor: $palette0;
$okBgColor: $paletteA1;
$errorBgColor: $paletteC3;
$helpBgColor: $paletteD2;

$infoBorderColor: $paletteB1;
$okBorderColor: $paletteE2;
$errorBorderColor: $paletteC4;
