{% extends 'layout-html.html' %}

{% block body %}
<body role="document">

<div class="wrapper">

<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="{% url 'home' %}">Vietcong1.eu</a>
                    &raquo; {% block title %}{% endblock %}
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
            {% include 'menu.html' %}
        </section>
    </nav>
</div>

<div class="row">
    <section class="{% block mainSectionClass %}
                        large-10 large-centered columns
                    {% endblock%}" role="main">
        {% for message in messages %}
            <div class="flash {{ message.tags }}">
                <button class="close">×</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>
</div>

<div class="push"></div>
</div>

<div class="footer">
    {% include 'footer.html' %}
</div>

</body>
{% endblock %}
