{% extends 'layout.html' %}
{% load staticfiles i18n %}

{% block title %}{{ server.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="small-6 columns">
        <dl>
            <dt>{% trans "Map" %}
            <dd>
                <a href="{{ server.map.get_absolute_url }}">
                    {{ server.map.name }}
                </a>
                ({{ server.mode.name }})

            <dt>{% trans "Country" %}
            <dd>
                <img src="{% static 'blank.gif' %}"
                    alt="{{ server.country }}"
                    class="flag flag-{{ server.country|lower }}">
                {% trans server.country_name %}

            <dt>IP
            <dd>{{ server.ip }}

            <dt>Port
            <dd>{{ server.port }}

            <dt>{% trans "Version of game" %}
            <dd>{{ server.version }}
        </dl>
    </div>

    <div class="small-6 columns">
        <dl>
            <dt>{% trans "Maximum players" %}
            <dd>{{ server.maxplayers }}

            <dt>HradBa
            <dd>
                {% if server.hradba %}{{ server.hradba }}
                {% else %}{% trans "No" %}
                {% endif %}

            <dt>{% trans "Password" %}
            <dd>{{ server.password|yesno }}

            <dt>{% trans "Dedicated server" %}
            <dd>{{ server.dedic|yesno }}

            <dt>{% trans "Vietnam mode" %}
            <dd>{{ server.vietnam|yesno }}
        </dl>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>{% trans "Name" %}
            <th>{% trans "Frags" %}
            <th>{% trans "Ping" %}
            <th>{% trans "Online for" %}

    <tbody>
    {% for player in server.players.all %}
        <tr>
            <td>{{ player.name }}
            <td>{{ player.frags }}
            <td>{{ player.ping }}
            <td>{{ player.online_since|timesince }}
    {% endfor %}
</table>

{% include 'game/mapimage_slideshow.html' with map=server.map %}

{% endblock %}
