{% extends 'layout.html' %}
{% load staticfiles i18n %}

{% block title %}{% trans 'Servers' %}{% endblock %}

{% block content %}
<table>
    <tr>
        <th><i class="fa fa-globe"></i>
        <th>{% trans 'Name' %}
        <th>{% trans 'Map' %}
        <th>{% trans 'Mode' %}
        <th>{% trans 'Players' %}
        <th>{% trans 'Pwd.' %}

    {% for server in server_list %}
        <tr>
            <td>
                <img src={% static 'blank.gif' %}
                     alt="{{ server.country }}"
                     title="{% trans server.country_name %}"
                     class="flag flag-{{ server.country|lower }}">
            <td>
                <a href="{{ server.get_absolute_url }}">
                    {{ server.name }}
                </a>
            <td>{{ server.map.name }}
            <td>{{ server.mode.name }}
            <td>{{ server.numplayers }}/{{ server.maxplayers }}
            <td>{{ server.password }}
    {% endfor %}
</table>
{% endblock %}
